* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Onest', Helvetica, sans-serif;
  font-weight: 200;
}

a {
  text-decoration: none;
  color: var(--black);
}

// Меню
.menu {
  width: 94vw;
  height: 2.2vw;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logos {
    width: 6.7vw;
    height: 1.8vw;

    &:hover {
      transform: rotate(10deg);
      transition: 0.2s;
    }
  }

}

.links {
  width: 20.2vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 16vw;

  a {
    font: 0.9vw;

    &:hover {
      color: var(--hover_blue);
      transition: 0.2s;
    }
  }
}

#t_menu {
  display: none;
}

.info_t {
  width: 1.3vw;
  height: 1.3vw;
}

.download {
  width: 2.6vw;
  height: 2.6vw;
}

.but_share {
  width: 2.2vw;
  height: 2.2vw;
  background: url(./images/module/share.svg);
  background-size: cover;
  background-repeat: no-repeat;

  &:hover {
    background: url(./images/module/share_h.svg);
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0.2s;
  }
}

.time {
  width: 1.4vw;
  height: 1.4vw;
}


// Футер
.footer {
  width: 100vw;
  height: 50.8vw;
  position: relative;
  top: 15vw;
  background-color: var(--blue);
  display: flex;
  flex-direction: column;
  align-items: center;


  .n_t {
    width: 68.8vw;
    height: 21.5vw;
    margin-top: 14.2vw;
    display: flex;
    flex-direction: column;
    align-items: center;

    .next {
      font-size: 1.1vw;
      color: var(--white);
    }

    .nazv_t {
      font-size: 7vw;
      color: var(--white);
      text-align: center;
      margin-top: 1.2vw;
      line-height: 80%;
    }

    .but {
      height: 3.1vw;
      border-radius: 2vw;
      background-color: var(--white);
      color: var(--blue);
      padding: 1vw 3vw 1vw 3vw;
      font-size: 1.1vw;
      margin-top: 3vw;

      &:hover {
        opacity: 0.85;
        transition: 0.2s;
      }
    }
  }

  .dop_t {
    width: 93.5vw;
    height: 2.5vw;
    margin-top: 11.4vw;
    display: flex;
    justify-content: space-between;

    p {
      font-size: 0.9vw;
      color: var(--white);
    }

    .p_2 {
      width: 18vw;
      line-height: 130%;
      margin-left: -38vw;
    }
  }
}



// menu tablet
@media screen and (min-width: 441px) and (max-width: 1025px) {

  button,
  input {
    text-decoration: none;
    border: none;
    background: none;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    top: 4vw;
    left: -5vw;
    background-color: var(--white);
    width: 100vw;
    height: 12.5vw;
    //box-shadow: 0.5vw 0.5vw 0.5vw rgba(0, 0, 0, 0.1);
    z-index: 300;

    a {
      font-size: 1.6vw;
    }

    .c_links {
      position: relative;
      margin-top: 6vw;
      margin-left: 5vw;
      margin-bottom: 12vw;
      width: 36vw;
      height: 20.5vw;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

    }

    .tg {
      position: absolute;
      top: 6vw;
      left: 70vw;
    }
  }

  .show {
    display: block;
  }
}


// menu mobile
@media screen and (max-width : 440px) {

  button,
  input {
    text-decoration: none;
    border: none;
    background: none;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    top: 17vw;
    left: -5vw;
    background-color: var(--white);
    width: 100vw;
    height: 65vw;
    //box-shadow: 0.5vw 0.5vw 0.5vw rgba(0, 0, 0, 0.1);
    z-index: 1;

    a {
      font-size: 4.4vw;
    }

    .c_links {
      position: relative;
      margin-top: 14vw;
      margin-left: 6.5vw;
      margin-bottom: 12vw;
      width: 30.5vw;
      height: 20.5vw;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

    }

    .tg {
      margin-left: 6.5vw;
    }
  }

  .show {
    display: block;
  }
}

@media screen and (min-width : 1026px) {

  .dropdown,
  .dropdown-content,
  .dropdown-list {
    display: none;
  }
}



// search
button,
input {
  text-decoration: none;
  border: none;
  background: none;
  outline: none;
}

.search {
  width: 22.7vw;
  height: 2.2vw;
  border-radius: 1vw;
  background-color: var(--light_grey);
  display: flex;
  justify-content: flex-start;
  align-items: center;


  .searchbtn {
    img {
      width: 0.8vw;
      height: 0.8vw;
      margin-left: 1vw;
      margin-right: 0.7vw;
    }

    p {
      font-size: 0.8vw;
      color: var(--grey);
      margin-top: 0.2vw;
    }
  }
}

.dropdown-list {
  display: none;
  position: absolute;
  top: 4vw;
  left: -5vw;
  background-color: var(--white);
  width: 100vw;
  height: 35vw;
  z-index: 2;

  .t {
    width: 25vw;
    height: 15vw;
    display: flex;
    flex-direction: row;
    margin-right: 1.1vw;
    margin-bottom: 1.1vw;
    flex-wrap: wrap;

    .cov {
      width: 100%;
      height: 10.2vw;
    }

    .cov1 {
      width: 100%;
      height: 10.2vw;
      background: url("./images/index/c_1.png");
      background-size: cover;
      background-repeat: no-repeat;

      &:hover {
        background: url("./images/index/c_1_h_s.png");
        transition: 0.2s;
        background-size: cover;
        background-repeat: no-repeat;
      }
    }

    .text_op {
      width: 100%;
      height: 10.8vw;
      background-color: var(--light_grey);
      display: flex;
      flex-direction: column;
      padding: 2.8vw 0 0 2.2vw;

      .naz {
        font-size: 1.6vw;
        margin-bottom: 1vw;
      }

      .tag {
        height: 2.6vw;
        border-radius: 1vw;
        background-color: var(--white);
        padding: 0.8vw 2vw 0.8vw 2vw;
        font-size: 1vw;
        margin-right: 0.7vw;
      }

      .coll {
        width: 15.7vw;
      }

      .th {
        width: 7.8vw;
      }

      .pr,
      .check {
        width: 8.8vw;
      }

      .tags {
        display: flex;
      }
    }
  }
}

.show {
  display: block;
}