// Colors

:root {
  --blue: #136EF6;
  --yellow: #FF9A11;
  --green: #02A95B;
  --red: #FF3E01;
  --pink: #FF6EFA;
  --white: white;
  --black: black;
  --grey: #9C9C9C;
  --light_grey: #F6F3F3;

  --hover_blue: #0047B1;
}